<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="executorData">
            <h2><span jhiTranslate="providerApp.executorData.detail.title">Executor Data</span> {{ executorData.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="providerApp.executorData.name">Name</span></dt>
                <dd>
                    <span>{{ executorData.name }}</span>
                </dd>
                <dt><span jhiTranslate="providerApp.executorData.data">Data</span></dt>
                <dd>
                    <span>{{ executorData.data }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/executor-data', executorData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
